@tailwind base;
@tailwind components;
@tailwind utilities;

.shake-box {
  animation: shake-animation 0.6s linear;
}

@keyframes shake-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
    border-color: red;
  }
  50% {
    transform: rotate(-3deg);
    border-color: red;
  }
  100% {
    transform: rotate(0deg);
  }
}
